* {
  box-sizing: border-box;
}

.navbar-brand:hover {
  color: black !important;
  background-color: gray;
}

.nav-item {
  font-size: 1.25rem;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

#startTime {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#wrapper {
  display:block;
  justify-content: center;


}
.questionDiv {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 100px;
  margin-bottom: 10px;
  padding:10px;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

li {
  background-color: blueviolet;
  margin-top: 10px;
  padding: 5px 15px;
  width: 80%;
  font-size: 18px;
  color: white;
  border-radius: 5px;
}

li:hover {
  background-color: blue;
  color: black;
  list-style-type: none;
}

button{
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
button:hover{
	background-color: #38a;
}

.hide {
  display: none;
}

 #hide{
   display:none;
 }